
.Rproj.user/9A8F71B1/sources/prop/1AA552C6
.Rproj.user/9A8F71B1/sources/prop/C282F456
.Rproj.user/9A8F71B1/sources/prop/D6C3D69C
.Rproj.user/9A8F71B1/sources/prop/INDEX
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/2A3455E7
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/2A3455E7-contents
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/2BC1634F
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/2BC1634F-contents
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/D779B900
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/D779B900-contents
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/D95240D0
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/D95240D0-contents
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
