
.Rproj.user/9A8F71B1/sources/prop/1AA552C6
.Rproj.user/9A8F71B1/sources/prop/C282F456
.Rproj.user/9A8F71B1/sources/prop/D6C3D69C
.Rproj.user/9A8F71B1/sources/prop/INDEX
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/2A3455E7
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/2A3455E7-contents
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/2BC1634F
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/2BC1634F-contents
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/D779B900
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/D779B900-contents
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/D95240D0
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/D95240D0-contents
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/9A8F71B1/sources/prop/6381F8F
.Rproj.user/9A8F71B1/sources/prop/AF778728
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/6D346812
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/6D346812-contents
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/72A85B52
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/72A85B52-contents
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/8D80E760
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/8D80E760-contents
.Rproj.user/9A8F71B1/sources/prop/38338687
.Rproj.user/9A8F71B1/sources/prop/59FD8A59
.Rproj.user/9A8F71B1/sources/prop/5CB31390
.Rproj.user/9A8F71B1/sources/prop/AE4038BD
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/201FC388-contents
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/26057B1D
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/26057B1D-contents
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/5EB38EFB-contents
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/AA1D0DCC-contents
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/D9A006BD
.Rproj.user/9A8F71B1/sources/s-6E5BF7B0/D9A006BD-contents
*.pper
*.Rdata
.Rhistory
.Rproj.user/9A8F71B1/console06/INDEX001
.Rproj.user/9A8F71B1/rmd-outputs
.Rproj.user/9A8F71B1/saved_source_markers
.Rproj.user/9A8F71B1/sources/per/t/26057B1D
.Rproj.user/9A8F71B1/sources/per/t/26057B1D-contents
.Rproj.user/9A8F71B1/sources/per/t/2A3455E7
.Rproj.user/9A8F71B1/sources/per/t/2A3455E7-contents
.Rproj.user/9A8F71B1/sources/per/t/2BC1634F
.Rproj.user/9A8F71B1/sources/per/t/2BC1634F-contents
.Rproj.user/9A8F71B1/sources/per/t/6D346812
.Rproj.user/9A8F71B1/sources/per/t/6D346812-contents
.Rproj.user/9A8F71B1/sources/per/t/8D80E760
.Rproj.user/9A8F71B1/sources/per/t/8D80E760-contents
.Rproj.user/9A8F71B1/sources/per/t/D779B900
.Rproj.user/9A8F71B1/sources/per/t/D779B900-contents
.Rproj.user/9A8F71B1/sources/per/t/D95240D0
.Rproj.user/9A8F71B1/sources/per/t/D95240D0-contents
.Rproj.user/9A8F71B1/sources/per/t/D9A006BD
.Rproj.user/9A8F71B1/sources/per/t/D9A006BD-contents
